<!DOCTYPE html>
<html lang="pt-br">
<title>Cotação Seguro Viagem</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", Arial, Helvetica, sans-serif}
</style>
<body class="w3-light-grey">

  <div class="w3-display-middle w3-padding w3-col l6 m8">
    <div class="w3-container w3-blue" align="center">
      <h2>Operação realizada com sucesso</h2>
    </div>
    <div class="w3-container w3-white w3-padding-16">
        <div class="w3-row-padding" style="margin:5px -5px;">
          <h4>Dados da compra</h4>
          <p>Produto: {{produto}}</p>
          <p>Provedor: {{provedor}}</p>
          <p>Valor: R$ {{preco}} </p>
        </div>
        <a href="{% url 'cotacao:home' %}" class="w3-button w3-dark-grey">Realizar outra operação</a>
    </div>
  </div>

</body>
</html>
