<!DOCTYPE html>
<html lang="pt-br">
<title>Cotação Seguro Viagem</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", Arial, Helvetica, sans-serif}
</style>
<body class="w3-light-grey">
  
  <div class="w3-display-middle w3-padding w3-col l6 m8">
    <div class="w3-container w3-blue">
      <h2>Pesquisar preços</h2>
    </div>
    <div class="w3-container w3-white w3-padding-16">
      <form action="{% url 'cotacao:opcoes' %}" method="post">
      {% csrf_token %}
        <div class="w3-row-padding" style="margin:0 -16px;">
          <div class="w3-half w3-margin-bottom">
            <label><i class="fa fa-calendar-o"></i> Ida</label>
            <input class="w3-input w3-border" type="date" name="data_inicio" required>
          </div>
          <div class="w3-half">
            <label><i class="fa fa-calendar-o"></i> Volta</label>
            <input class="w3-input w3-border" type="date" name="data_fim" required>
          </div>
        </div>
        <div class="w3 w3-margin-bottom">
        	<label>Destino</label>
            <select class="w3-input w3-border" name="destinos" required>
              {% for i in destinos %}
                <option value="{{i.slug}}">{{i.name}}</option>
              {% endfor %}
            </select>
        </div>
        <button class="w3-button w3-dark-grey" type="submit"><i class="fa fa-search w3-margin-right"></i> Pesquisar</button>
      </form>
    </div>
  </div>

</body>
</html>
